In [ ]:
import pandas
import json
import os
import gc

def convert_to_parquet(mode: str = 'niid', dataset: str = 'train'):
  directory = os.path.join(f'./data/{mode}/{dataset}')
  files = os.listdir(directory)

  def create_json_from_json(path):
    with open(os.path.join(directory, path), 'r') as f:
      data = json.load(f)
  
    exploded = pandas.DataFrame(data['user_data']).T.explode(list('xy')) 

    del data
    gc.collect()

    os.mkdir(f'output_{mode}_{dataset}')
    os.mkdir(f'output')

    features = pandas.DataFrame(exploded['x'].values.tolist(), index = exploded.index)
    features.columns = [ f'x{i + 1}' for i in range(784) ]

    flattened = pandas.concat([ exploded.drop(columns = 'x'), features ], axis = 1)
    flattened.to_parquet(f"output_{mode}_{dataset}/{name.removesuffix('json')}.parquet", index_label = 'user')

    del exploded
    del flattened
    del features
    gc.collect()

  # all json to all parquet
  for i, name in enumerate(files):
    create_csv_from_json(name)
    print(f'...[{i + 1}/{len(files)}]')

  gc.collect()
  
  directory = os.path.join(f'output_{mode}_{dataset}')
  files = os.listdir(directory)
  frames = []

  # all parquet to one unique parquet
  for i, name in enumerate(files):
    frames.append(pandas.read_parquet(os.path.join(directory, name)))

  pandas.concat(frames, axis = 0).to_parquet(f'output/{mode}/{dataset}.parquet')

  gc.collect()

...[1/36]
...[2/36]
...[3/36]
...[4/36]
...[5/36]
...[6/36]
...[7/36]
...[8/36]
...[9/36]
...[10/36]
...[11/36]
...[12/36]
...[13/36]
...[14/36]
...[15/36]
...[16/36]
...[17/36]
...[18/36]
...[19/36]
...[20/36]
...[21/36]
...[22/36]
...[23/36]
...[24/36]
...[25/36]
...[26/36]
...[27/36]
...[28/36]
...[29/36]
...[30/36]
...[31/36]
...[32/36]
...[33/36]
...[34/36]
...[35/36]
...[36/36]

In [ ]:
exploded = pandas.DataFrame(data['user_data']).T.explode(list('xy'))
exploded

                                                          x   y
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  55
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  55
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  50
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  51
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  46
...                                                     ...  ..
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  48
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  59
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  37
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  60
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  40

[15257 rows x 2 columns]

In [ ]:
features = pandas.DataFrame(exploded['x'].values.tolist(), index = exploded.index)
features.columns = [ f'x{i + 1}' for i in range(784) ]
features

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
flattened = pandas.concat([ exploded.drop(columns = 'x'), features ], axis = 1)
flattened.to_csv('tmp.csv', index_label = 'user')
flattened

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,46,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,48,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,59,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,37,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
pandas.read_csv('tmp.csv', index_col = 'user')

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
user,,,,,,,,,,,,,,,,,,,,,
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,46,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,48,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,59,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,37,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [11]:
import os 
import pandas as pd

path = os.path.join(os.getcwd(), 'data', 'prova_parquet', 'all_data_0.parquet')

df = pd.read_parquet(path=path)
df

,user,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
0,f0000_14,32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,f0000_14,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,f0000_14,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,f0000_14,43,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,f0000_14,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35825,f0099_18,32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
35826,f0099_18,20,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
35827,f0099_18,21,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
35828,f0099_18,27,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
35829,f0099_18,25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [4]:
import os 
import pandas as pd

path = os.path.join(os.getcwd(), 'data', 'iid/train', 'all_data_0_iid_01_0_keep_0_train_9.parquet')

df = pd.read_parquet(path=path)
df

,user,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
0,8,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,8,52,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,8,61,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,8,47,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,8,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15019,8,18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15020,8,35,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15021,8,12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15022,8,28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15023,8,13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
df.index.unique()

Index(['f0099_18'], dtype='object', name='user')

In [2]:
import os 
import pandas as pd

tot = 0

for i in range(35):
    path = os.path.join(os.getcwd(), 'data', 'prova_parquet', f"all_data_{i}.parquet")

    df = pd.read_parquet(path=path)
    tot += len(df)

tot

7939

In [2]:
import json
with open(os.path.join(os.getcwd(), 'data', 'all_data', "all_data_0.json"), "r") as f:
    o = json.loads(f.read())

In [4]:
o.keys()

dict_keys(['users', 'num_samples', 'user_data'])

In [9]:
len(o['user_data']['f0000_14']['x'])

382

In [10]:
tot = 0
for k in o['user_data'].keys():
    tot += len(o['user_data']['f0000_14']['x'])

tot

38200